<div class="row">

    <div class="col-xs-10">
            <app-shopping-edit></app-shopping-edit>

    </div>
</div>
  <hr>
  <p> The list </p>
  <div class="row">
      <div class="col-md-6">
          <ul class="list-group">
              <li class="list-group-item disabled">Tomate</li>
              <li class="list-group-item">Avocat</li>
              <li class="list-group-item">Banane</li>
              <li class="list-group-item">Mangue</li>
              <li class="list-group-item">Kiwi</li>
            </ul>
      </div>

      


  </div>