<div class="row">
    <div class="col-xs-12">

        <div class="card" >
                <div class="card-header">
                        Recipe name
                      </div>
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Description</p>
            
              <a href="#" class="card-link">Add to shopping list</a>
              <a href="#" class="card-link">Edit recipe</a>
              <a href="#" class="card-link">Delete recipe</a>
              
            </div>
            <div class="card-footer">
                Ingredients
              </div>
          </div>

    </div>
</div>